## importando as bibliotecas necess√°rias

In [30]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [31]:
base_27 = pd.read_csv("treinocomrodada27.csv", sep=";", encoding="cp1252")
base_28 = pd.read_csv("treinocomrodada28.csv", sep=";", encoding="cp1252")
base_29 = pd.read_csv("treinocomrodada29.csv", sep=";", encoding="cp1252")

In [32]:
teste_28 = pd.read_csv("rodada28.csv", sep = ";", encoding="cp1252")
teste_29 = pd.read_csv("rodada29.csv", sep = ";", encoding="cp1252")
teste_30 = pd.read_csv("rodada30.csv", sep = ";", encoding="cp1252")

In [33]:
teste_28['classificacao'].value_counts()

ruim         187
bom           53
excelente     19
Name: classificacao, dtype: int64

In [34]:
teste_29['classificacao'].value_counts()

ruim         178
bom           54
excelente     21
Name: classificacao, dtype: int64

In [35]:
teste_30['classificacao'].value_counts()

ruim         191
bom           47
excelente     14
Name: classificacao, dtype: int64

In [36]:
base_27['classificacao'].value_counts()

ruim         4964
bom          1285
excelente     425
Name: classificacao, dtype: int64

In [37]:
base_28['classificacao'].value_counts()

ruim         5151
bom          1338
excelente     444
Name: classificacao, dtype: int64

In [38]:
base_29['classificacao'].value_counts()

ruim         5329
bom          1392
excelente     465
Name: classificacao, dtype: int64

In [39]:
previsores_27= base_27.iloc[:,0:29].values
classe_27 = base_27.iloc[:,29].values

previsores_28= base_28.iloc[:,0:29].values
classe_28 = base_28.iloc[:, 29].values
previsores_29= base_29.iloc[:,0:29].values
classe_29 = base_29.iloc[:,29].values

In [40]:
prev_teste_28 = teste_28.iloc[:,0:29].values
classe_teste_28 = teste_28.iloc[:,29].values

prev_teste_29 = teste_29.iloc[:,0:29].values
classe_teste_29 = teste_29.iloc[:,29].values

prev_teste_30 = teste_30.iloc[:,0:29].values
classe_teste_30 = teste_30.iloc[:,29].values

In [41]:
scaler = StandardScaler()
previsores_27 = scaler.fit_transform(previsores_27)
previsores_28 = scaler.fit_transform(previsores_28)
previsores_29 = scaler.fit_transform(previsores_29)

prev_teste_28 = scaler.fit_transform(prev_teste_28)
prev_teste_29 = scaler.fit_transform(prev_teste_29)
prev_teste_30 = scaler.fit_transform(prev_teste_30)

In [42]:
Classificador = RandomForestClassifier()
Classificador.fit(previsores_27, classe_27)
Resultado_28 = Classificador.predict(prev_teste_28)


Classificador.fit(previsores_28, classe_28)
Resultado_29 = Classificador.predict(prev_teste_29)

Classificador.fit(previsores_29, classe_29)
Resultado_30 = Classificador.predict(prev_teste_30)

C:\Users\jeff\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [14]:
Resultado_30

array(['ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'bom',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'bom', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'bom',
       'bom', 'bom', 'ruim', 'bom', 'ruim', 'ruim', 'bom', 'ruim', 'bom',
       'ruim', 'ruim', 'ruim', 'ruim', 'bom', 'bom', 'ruim', 'ruim',
       'ruim', 'bom', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim',
       'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'bom',
       'ruim', 'ruim', 'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'bom', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'bom', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'bom', 'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'bom', 'bom', 'ruim', 'bom', 'ruim', 'bom', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'bom', 'ruim', 'bom', 'ruim', 'ruim', 'ruim', 'ruim', 'ruim',
       'excelente', 'ruim'], dtype=object)

In [43]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [44]:
precisao0 = accuracy_score(classe_teste_28, Resultado_28)

In [45]:
precisao0

0.7027027027027027

In [46]:
precisao1 = accuracy_score(classe_teste_29, Resultado_29)
precisao1

0.6561264822134387

In [47]:
precisao2 = accuracy_score(classe_teste_30, Resultado_30)

In [48]:
precisao2

0.7142857142857143

In [49]:
m_resultado_28 = confusion_matrix(classe_teste_28, Resultado_28)
m_resultado_28

array([[  7,   1,  45],
       [  4,   0,  15],
       [  9,   3, 175]], dtype=int64)

In [50]:
m_resultado_29 = confusion_matrix(classe_teste_29, Resultado_29)
m_resultado_29

array([[ 10,   1,  43],
       [  1,   2,  18],
       [ 24,   0, 154]], dtype=int64)

In [51]:
m_resultado_30 = confusion_matrix(classe_teste_30, Resultado_30)
m_resultado_30

array([[  7,   3,  37],
       [  2,   0,  12],
       [ 18,   0, 173]], dtype=int64)

In [52]:
arquivo_final_com_rodada28 = pd.read_csv('rodada28a.csv', sep = ';', encoding ='cp1252', usecols=[0,2,3,4,6,8,31,33])
arquivo_final_com_rodada29 = pd.read_csv('rodada29a.csv', sep = ';', encoding ='cp1252', usecols=[0,2,3,4,6,8,31,33])
arquivo_final_com_rodada30 = pd.read_csv('rodada30a.csv', sep = ';', encoding ='cp1252', usecols=[0,2,3,4,6,8,31,33])
R_28 = pd.DataFrame(Resultado_28, columns=["classificacao_F"])
R_29 = pd.DataFrame(Resultado_29, columns=["classificacao_F"])
R_30 = pd.DataFrame(Resultado_30, columns=["classificacao_F"])
arquivo_final_com_rodada28 = pd.concat([arquivo_final_com_rodada28, R_28],ignore_index=False, sort = False, axis=1).to_csv('classifica√ß√£o_final28.csv', sep=";", encoding="cp1252")
arquivo_final_com_rodada29 = pd.concat([arquivo_final_com_rodada29,R_29],ignore_index=False, sort = False, axis=1).to_csv('classifica√ß√£o_final29.csv', sep=";", encoding="cp1252")
arquivo_final_com_rodada30 = pd.concat([arquivo_final_com_rodada30,R_30],ignore_index=False, sort = False, axis=1).to_csv('classifica√ß√£o_final30.csv', sep=";", encoding="cp1252")

    classificacao_F
0              ruim
1              ruim
2              ruim
3              ruim
4              ruim
..              ...
254            ruim
255            ruim
256            ruim
257            ruim
258            ruim

[259 rows x 1 columns]

     Unnamed: 0 classificacao_F
0             0            ruim
1             1            ruim
2             2            ruim
3             3            ruim
4             4            ruim
..          ...             ...
254         254            ruim
255         255            ruim
256         256            ruim
257         257            ruim
258         258            ruim

[259 rows x 2 columns]